{% extends 'base.html' %}
{%block content%}


<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
 {% if pro %}
  {% for x in pro %}
    <div class="col">
      <div class="card">
        <img src="{{x.image.url}}" class="card-img-top" alt="{{x.name}}"width="250" height="250" >
        <div class="card-body">
          <h5 class="card-title">{{x.name|slice:":30"}})</h5>
          <p class="card-text">{{x.content|slice:":40"}}</p>
          
          <a  href="{%url 'product' x.id %}">  <button type="button" class="btn btn-secondary" disabled>add</button></a>
        
        </div>
      </div>
    </div>
 {% endfor %}
{%else%}
<p> No Products Avairbale</p>
{% endif %}
</div>
  </div>

{%endblock content%}
