{% extends 'base.html' %}
{% load static %}
{%block content%}

<div class="container">
  <div class="avatar-flip">
    <img src="{%static 'image\Horses\me.jpg'%}"  alt="..." height="150" width="150">  
    <img src="{%static 'image\Horses\me.jpg'%}"  alt="..." height="150" width="150">  </div>
  <h2>Nourah Altamimi</h2>
  <h4>Horses Riding Trainer</h4>
  <p>Highly skilled Horse Trainer extensive experience riding horses and is strongly knowledgeable of horse behavior and training horses and riders.</p>
  <p> Has a background in rodeo horse riding ,jumping and breaking horses.</p>
</div>

  
{% endblock content %}
 